[submodule "external/GRiDCodeGenerator"]
	path = external/GRiDCodeGenerator
	url = https://github.com/robot-acceleration/GRiDCodeGenerator.git
[submodule "external/QuIK"]
	path = external/QuIK
	url = https://github.com/steffanlloyd/quik.git
[submodule "external/GLASS"]
	path = external/GLASS
	url = https://github.com/saiccoumar/GLASS.git
